            body{
  font-family: sans-serif;
  background-image: url(bats.gif);
   margin: auto;   width: 800px
        

    }
    .color{
        background: linear-gradient(45deg, black,orange,white,orange,black);
        border-style: solid;
            }
.sidenav {
  height: auto%; 
  width: 120px; /* Set the width of the sidebar */
  left: 100;
  background-color: white; /* Black */
  float: left;
}
.content{
    padding-left: 120px;
}
    header{
        padding-top: 0;  
        margin-left: 100px;      
            }
            img.pumpkin {
                float:left;
            }
img.cat{
    
}
    h2.title {
        font-size: 40px;
        color: orange;
        font-style: italic;
        text-shadow: 2px 2px black;


    }
        main{
                border-style: solid;
                background: white;
                border: 3x solid black 3px;

                
            }
            h1::first-letter{
                font-size: 200%
            }
            a:link {
  color: orange;
}

    footer{
        text-align: center;
    }